/* Animations ----------------------------------------------*/
@keyframes msgAnim {
  from{
    transform: translateY(0px)
  }
  to{
    transform: translateY(20px);
  }
}
/* App component ---------------------------------------------------- */
#root , body , html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(241, 241, 241);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}
.App {
  display: grid;
  place-items: center;
  height: 100%;
  width : 100%;
  gap: 20px;
}

/* Login component ---------------------------------------------- */

.container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form {
  width: 300px;
}
form div{
  margin-bottom: 20px;
}

form legend {
  font-size: 18px;
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='date'],
select {
  width: 100%;
  height: 50px;
  border: .1px solid rgb(181, 181, 181);
  border-radius: 10px;
  font-size: 16px;
  padding: 0px 10px;
}

input::placeholder{
  font-size: 15px;
  font-weight: 500;
}

select{
  border: 1px solid;
}

.container span {
  color: #ff0000;
  font-size: 15px;
  width: 150px;
  padding: 10px;
}

.btnCont{
  width: max-content;
}
.btnCont > button{
  width: 100%;
}

.btnCont > button , .btnAddMarche {
  background-color: #007bff;
  border: none ;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: .3s;
}

.btnCont > button:hover , .btnAddMarche:hover {
  background-color: #0056b3;
}

/* Carte de marche ---------------------------------------------- */

.carteField{
  width : 80% ; 
  display:flex ; 
  justify-content : center ; 
  flex-direction : column ;
  gap : 20px ;
  border: none;
}


.MarcheCont{
  display: flex;
  justify-content: space-between;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MarcheCont>div:first-child{
  width: 30%;
  font-weight: bold;
  text-align: center;
}

.MarcheCont h1{
  border: 1px solid;
  border-radius: 10%;
  width: fit-content;
  padding: 10px;
}

.MarcheCont>div:nth-child(2){
  width: 60%;
}

.MarcheCont>div:nth-child(2)>div:first-child{
  font-weight: 600;
}

.MarcheCont>div:nth-child(2)>div:nth-child(2){
  display: flex;
  justify-content: space-between;
}

.MarcheCont>div:nth-child(2)>div:nth-child(2) p{
  margin: 0;
}

.MarcheCont>div:nth-child(2)>div:last-child{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.MarcheCont button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.stop{
  background-color: #d1632c;
}
.stop:hover{
  background-color: #af5021;
}

.reprise{
  background-color: #1eb132;
}
.reprise:hover{
  background-color: #169126;
}

#plusInfos{
  font-size : 15px;
  font-weight:400 ;
  cursor : pointer;
  display: flex;
  align-items: center;
  width: 150px;
}

#plusInfos>img{
  width: 10px;
  height: 10px;
  visibility: hidden;
  transition: .3s;
}

#plusInfos:hover{
  text-decoration: underline;
  color: #0056b3;
}
#plusInfos:hover>img{
  transform: translateX(10px);
  visibility: visible;
}


/* AddMarche component ------------------------------- */

.AddCont{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.AddCont input {
  width: 200px;
}

.title{
  margin: 0;
}

.btnAddMarket{
  width:95%;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px ;
}

.AddContainer>form{
  width: 100%;
}


/* Header & Footer -------------------------- */
header {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  position: sticky;
  top: 0;
  user-select: none;
}

header img {
  width: 100px;
  height: 80px;
}
header div:first-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header details{
  cursor: pointer;
  height: 20px;
}

header details>summary{
  font-weight: 600;
}

header details>div>a{
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  background-color: rgb(218, 218, 218);
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  transition: .3s;
  color: black;
  font-weight: 700;
  font-size: 15px;
}

header details>div>a:hover{
  background-color: rgb(238, 180, 180);
}




/* Todo component --------------------------------- */
.todoCont {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.todoCont > div{
  overflow-y: scroll;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg {
  transform: translateY(20px);
  animation: msgAnim .3s linear;
}

.todoCont > form{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20%;
}

.todoCont > form >div{
  margin: 0
}

.todoCont > form >div:first-child{
  width: 60%;
}

/* .todoCont > form >div:last-child{
  height: 50px;
} */


.todoCont > form input{
  padding: 0 10px;
  background-color: transparent;
  border-radius: 15px;
}

.taskCont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 95%;
  border-bottom: 2px solid;
  padding: 10px 15px;
}


.taskCont >form{
  display: flex;
  align-items: center;
  width: 50%;
}

.taskCont >form>p{
  width: 100%;
  text-align: center;
  font-size: 16px;
  word-wrap: break-word;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(191, 175, 175, 0.49);
  border-radius: 10px;
}

.mod , .dlt , .confirm , .showMarkets{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: .3s;
  padding:8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mod:hover , .dlt:hover , .confirm:hover , .showMarkets:hover{
  cursor: pointer;
}
.mod:hover{
  background-color: #007bff;
}
.dlt:hover{
  background-color: rgb(213, 74, 74);
}
.confirm:hover{
  background-color: lightgreen;
}
.showMarkets:hover{
  background-color: #007bff;
}

.taskCont img , .showMarkets img{
  width: 30px;
  height: 30px;
}

.confirm img {
  width: 40px;
  height: 40px;
}




/* WorkerInfo ---------------------------------------------- */

.InfoWorkerCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

.userSpace img {
  width: 200px;
  height: 200px;
}

.ActivityCont {
  width: 80%;
}
.marcheHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.marcheHeader h3{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;

}

.stats {
  border-radius: 50%;
  padding: 5px 10px;
  background-color: rgb(219, 215, 215);
  font-weight: 500;
  font-size: small;
  color: rgb(109, 109, 109);
}

.marcheHeader hr{
  width: 80%;
  background-color: black;
}

.marcheHeader span{
  width: 20%;
}

.UserActs {
  height: 0px;
  overflow: hidden;
  transition: .5s;
}

.userMarket{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userMarket>div{
  width: 30%;
}